<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_g8Y7EBwcEeq4Lc5XsD6Vnw" specification="@ParentFirstExecution&#xA;@EventDriven&#xA;&#xA;interface:&#xA;&#x9;var power : integer&#xA;&#x9;in event high&#xA;&#x9;in event low&#xA;&#x9;in event digit : integer&#xA;&#x9;in event timer&#xA;&#x9;in event start&#xA;&#x9;in event stop&#xA;&#x9;in event open&#xA;&#x9;in event close&#xA;&#x9;operation displayTime(t:integer)&#xA;&#x9;operation display(msg:string)&#xA;&#x9;operation clearDisplay()&#xA;&#x9;operation cook()&#xA;&#x9;operation stopCook()&#xA;&#x9;operation beepOn()&#xA;&#x9;operation beepOff()&#xA;&#x9;operation closeDoor()&#xA;&#x9;operation openDoor()&#xA;&#xA;internal:&#xA;&#x9;&#xA;&#x9;var enteredTime : integer = 0&#xA;&#x9;var isDoorOpen  : boolean = true&#xA;&#x9;var remainingTime : integer&#xA;&#x9;&#xA;&#xA;&#x9;&#x9;&#xA;&#x9;&#x9; " name="microwave">
    <regions xmi:id="_g8gP0xwcEeq4Lc5XsD6Vnw" name="Microwave">
      <vertices xsi:type="sgraph:State" xmi:id="_9QyBUCO7EfGpTtr6ya0w_A" specification="" name="Idle" incomingTransitions="_OVn20CPGEfGpTtr6ya0w_A _AWIigCZKEfGpTtr6ya0w_A _HM_soCZKEfGpTtr6ya0w_A _axiL0CZhEfGG16wVOl52OQ">
        <outgoingTransitions xmi:id="_14cBICPDEfGpTtr6ya0w_A" specification="high" target="_urQBsCPDEfGpTtr6ya0w_A"/>
        <outgoingTransitions xmi:id="_4iDHsCPDEfGpTtr6ya0w_A" specification="low # > alt_entry&#xD;&#xA;" target="_urQBsCPDEfGpTtr6ya0w_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_jMHMQCPAEfGpTtr6ya0w_A" specification="every 1s [remainingTime > 0] /&#xD;&#xA;remainingTime -= 1;&#xD;&#xA;displayTime(remainingTime)&#xD;&#xA;" name="Cooking" incomingTransitions="_3nFboCPAEfGpTtr6ya0w_A _2L4zsCZXEfGG16wVOl52OQ">
        <outgoingTransitions xmi:id="_yrhR0CPGEfGpTtr6ya0w_A" specification="open / isDoorOpen = true&#xD;&#xA;" target="_XV3IQCPGEfGpTtr6ya0w_A"/>
        <outgoingTransitions xmi:id="_8aTEQCPGEfGpTtr6ya0w_A" specification="[remainingTime == 0]" target="_J-GSkCZbEfGG16wVOl52OQ"/>
        <outgoingTransitions xmi:id="_HM_soCZKEfGpTtr6ya0w_A" specification="stop /&#xD;&#xA;stopCook();&#xD;&#xA;beepOff();&#xD;&#xA;clearDisplay();&#xD;&#xA;isDoorOpen = true" target="_9QyBUCO7EfGpTtr6ya0w_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_urQBsCPDEfGpTtr6ya0w_A" name="Mode" incomingTransitions="_14cBICPDEfGpTtr6ya0w_A _4iDHsCPDEfGpTtr6ya0w_A">
        <outgoingTransitions xmi:id="_Mdr6QCPFEfGpTtr6ya0w_A" specification="timer&#xD;&#xA;" target="_tRAkYCZMEfGpTtr6ya0w_A"/>
        <regions xmi:id="_urQBsyPDEfGpTtr6ya0w_A" name="r1">
          <vertices xsi:type="sgraph:Entry" xmi:id="_58S4ICPDEfGpTtr6ya0w_A">
            <outgoingTransitions xmi:id="_MKHTcCPEEfGpTtr6ya0w_A" specification="" target="_HtJY4CPEEfGpTtr6ya0w_A"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Fp2EYCPEEfGpTtr6ya0w_A" name="alt_entry">
            <outgoingTransitions xmi:id="_R87moCPEEfGpTtr6ya0w_A" specification="" target="_PI71ACPEEfGpTtr6ya0w_A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_HtJY4CPEEfGpTtr6ya0w_A" specification="entry/&#xD;&#xA;power = 1;&#xD;&#xA;display(&quot;High&quot;)" name="High" incomingTransitions="_MKHTcCPEEfGpTtr6ya0w_A _fysnICPFEfGpTtr6ya0w_A">
            <outgoingTransitions xmi:id="_e3wB0CPFEfGpTtr6ya0w_A" specification="low" target="_PI71ACPEEfGpTtr6ya0w_A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_PI71ACPEEfGpTtr6ya0w_A" specification="entry/&#xD;&#xA;power = 2;&#xD;&#xA;display(&quot;Low&quot;)&#xD;&#xA;" name="Low" incomingTransitions="_R87moCPEEfGpTtr6ya0w_A _e3wB0CPFEfGpTtr6ya0w_A">
            <outgoingTransitions xmi:id="_fysnICPFEfGpTtr6ya0w_A" specification="high" target="_HtJY4CPEEfGpTtr6ya0w_A"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XV3IQCPGEfGpTtr6ya0w_A" specification="entry/&#xD;&#xA;isDoorOpen = true;&#xD;&#xA;display(&quot;Waiting&quot;);&#xD;&#xA;stopCook()" name="Waiting" incomingTransitions="_yrhR0CPGEfGpTtr6ya0w_A">
        <outgoingTransitions xmi:id="_AWIigCZKEfGpTtr6ya0w_A" specification="stop /&#xD;&#xA;stopCook();&#xD;&#xA;beepOff();&#xD;&#xA;clearDisplay();&#xD;&#xA;isDoorOpen = true" target="_9QyBUCO7EfGpTtr6ya0w_A"/>
        <outgoingTransitions xmi:id="_tq7fQCZXEfGG16wVOl52OQ" specification="close / isDoorOpen = false" target="_qk47YCZXEfGG16wVOl52OQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_tRAkYCZMEfGpTtr6ya0w_A" specification="entry/&#xD;&#xA;enteredTime = 0;&#xD;&#xA;displayTime(0)&#xD;&#xA;&#xD;&#xA;digit &#xD;&#xA;[enteredTime &lt; 1000] / enteredTime = (enteredTime * 10) + valueof(digit);&#xD;&#xA; displayTime(enteredTime)" name="SettingTime" incomingTransitions="_Mdr6QCPFEfGpTtr6ya0w_A">
        <outgoingTransitions xmi:id="_3nFboCPAEfGpTtr6ya0w_A" specification="start [enteredTime > 0 &amp;&amp; !isDoorOpen] / &#xD;&#xA;remainingTime = enteredTime;&#xD;&#xA;cook()" target="_jMHMQCPAEfGpTtr6ya0w_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qk47YCZXEfGG16wVOl52OQ" specification="entry/&#xD;&#xA;displayTime(remainingTime)" name="RestartCooking" incomingTransitions="_tq7fQCZXEfGG16wVOl52OQ">
        <outgoingTransitions xmi:id="_2L4zsCZXEfGG16wVOl52OQ" specification="start [!isDoorOpen] / cook()" target="_jMHMQCPAEfGpTtr6ya0w_A"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_J-GSkCZbEfGG16wVOl52OQ" specification="entry/&#xD;&#xA;openDoor();&#xD;&#xA;display(&quot;Finished&quot;)" name="Finished" incomingTransitions="_8aTEQCPGEfGpTtr6ya0w_A">
        <outgoingTransitions xmi:id="_OVn20CPGEfGpTtr6ya0w_A" specification="after 5 s / &#xD;&#xA;beepOff();&#xD;&#xA;clearDisplay()" target="_9QyBUCO7EfGpTtr6ya0w_A"/>
        <regions xmi:id="_J-GSkyZbEfGG16wVOl52OQ" name="r1">
          <vertices xsi:type="sgraph:Entry" xmi:id="_ugq3oCZbEfGG16wVOl52OQ">
            <outgoingTransitions xmi:id="_166boCZbEfGG16wVOl52OQ" specification="" target="_w1NtICZbEfGG16wVOl52OQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_w1NtICZbEfGG16wVOl52OQ" specification="entry/&#xD;&#xA;beepOn()" name="Bip On" incomingTransitions="_166boCZbEfGG16wVOl52OQ _B2998CZcEfGG16wVOl52OQ">
            <outgoingTransitions xmi:id="_GidcsCZcEfGG16wVOl52OQ" specification="after 500ms" target="_6Cn34CZbEfGG16wVOl52OQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_6Cn34CZbEfGG16wVOl52OQ" specification="entry/&#xD;&#xA;beepOff()" name="Bip Off" incomingTransitions="_GidcsCZcEfGG16wVOl52OQ">
            <outgoingTransitions xmi:id="_B2998CZcEfGG16wVOl52OQ" specification="after 500ms" target="_w1NtICZbEfGG16wVOl52OQ"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_Zy9DsCZhEfGG16wVOl52OQ">
        <outgoingTransitions xmi:id="_axiL0CZhEfGG16wVOl52OQ" specification="" target="_9QyBUCO7EfGpTtr6ya0w_A"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_g8gP0BwcEeq4Lc5XsD6Vnw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_g8Y7EBwcEeq4Lc5XsD6Vnw" measurementUnit="Pixel">
    <children xmi:id="_g8isEBwcEeq4Lc5XsD6Vnw" type="Region" element="_g8gP0xwcEeq4Lc5XsD6Vnw">
      <children xsi:type="notation:DecorationNode" xmi:id="_g8khQBwcEeq4Lc5XsD6Vnw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g8khQRwcEeq4Lc5XsD6Vnw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g8khQhwcEeq4Lc5XsD6Vnw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_g8lIUBwcEeq4Lc5XsD6Vnw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_9Qz2gCO7EfGpTtr6ya0w_A" type="State" element="_9QyBUCO7EfGpTtr6ya0w_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_9Q0dkCO7EfGpTtr6ya0w_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_9Q0dkSO7EfGpTtr6ya0w_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_9Q0dkiO7EfGpTtr6ya0w_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9Q0dkyO7EfGpTtr6ya0w_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_9Q0dlCO7EfGpTtr6ya0w_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9Q0dlSO7EfGpTtr6ya0w_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_9Q1EoCO7EfGpTtr6ya0w_A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_9Qz2gSO7EfGpTtr6ya0w_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_9Qz2giO7EfGpTtr6ya0w_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_9Q1EoSO7EfGpTtr6ya0w_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_9Qz2gyO7EfGpTtr6ya0w_A" x="454" y="136" width="121" height="76"/>
        </children>
        <children xmi:id="_jMHzUCPAEfGpTtr6ya0w_A" type="State" element="_jMHMQCPAEfGpTtr6ya0w_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_jMHzVCPAEfGpTtr6ya0w_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_jMHzVSPAEfGpTtr6ya0w_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_jMHzViPAEfGpTtr6ya0w_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jMHzVyPAEfGpTtr6ya0w_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_jMHzWCPAEfGpTtr6ya0w_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jMHzWSPAEfGpTtr6ya0w_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_jMHzWiPAEfGpTtr6ya0w_A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_jMHzUSPAEfGpTtr6ya0w_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_jMHzUiPAEfGpTtr6ya0w_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jMHzWyPAEfGpTtr6ya0w_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jMHzUyPAEfGpTtr6ya0w_A" x="369" y="910" width="236" height="107"/>
        </children>
        <children xmi:id="_urQowCPDEfGpTtr6ya0w_A" type="State" element="_urQBsCPDEfGpTtr6ya0w_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_urRP0CPDEfGpTtr6ya0w_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_urRP0SPDEfGpTtr6ya0w_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_urRP0iPDEfGpTtr6ya0w_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_urRP0yPDEfGpTtr6ya0w_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_urRP1CPDEfGpTtr6ya0w_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_urRP1SPDEfGpTtr6ya0w_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_urRP1iPDEfGpTtr6ya0w_A" type="StateFigureCompartment">
            <children xmi:id="_Q1rqsCPEEfGpTtr6ya0w_A" type="Region" element="_urQBsyPDEfGpTtr6ya0w_A">
              <children xsi:type="notation:DecorationNode" xmi:id="_Q1rqsSPEEfGpTtr6ya0w_A" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rqsiPEEfGpTtr6ya0w_A"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Q1rqsyPEEfGpTtr6ya0w_A"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Q1rqtCPEEfGpTtr6ya0w_A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_Q1rqtSPEEfGpTtr6ya0w_A" type="Entry" element="_58S4ICPDEfGpTtr6ya0w_A">
                  <children xmi:id="_Q1rqtiPEEfGpTtr6ya0w_A" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Q1rqtyPEEfGpTtr6ya0w_A" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rquCPEEfGpTtr6ya0w_A"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Q1rquSPEEfGpTtr6ya0w_A"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rquiPEEfGpTtr6ya0w_A" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rquyPEEfGpTtr6ya0w_A"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rqvCPEEfGpTtr6ya0w_A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Q1rqvSPEEfGpTtr6ya0w_A" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rqviPEEfGpTtr6ya0w_A" x="23" y="-7"/>
                </children>
                <children xmi:id="_Q1rqvyPEEfGpTtr6ya0w_A" type="Entry" element="_Fp2EYCPEEfGpTtr6ya0w_A">
                  <children xmi:id="_Q1rqwCPEEfGpTtr6ya0w_A" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Q1rqwSPEEfGpTtr6ya0w_A" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rqwiPEEfGpTtr6ya0w_A"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Q1rqwyPEEfGpTtr6ya0w_A"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rqxCPEEfGpTtr6ya0w_A" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rqxSPEEfGpTtr6ya0w_A"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rqxiPEEfGpTtr6ya0w_A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Q1rqxyPEEfGpTtr6ya0w_A" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rqyCPEEfGpTtr6ya0w_A" x="242" y="-15"/>
                </children>
                <children xmi:id="_Q1rqySPEEfGpTtr6ya0w_A" type="State" element="_HtJY4CPEEfGpTtr6ya0w_A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Q1rqyiPEEfGpTtr6ya0w_A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rqyyPEEfGpTtr6ya0w_A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Q1rqzCPEEfGpTtr6ya0w_A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Q1rqzSPEEfGpTtr6ya0w_A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Q1rqziPEEfGpTtr6ya0w_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rqzyPEEfGpTtr6ya0w_A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Q1rq0CPEEfGpTtr6ya0w_A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rq0SPEEfGpTtr6ya0w_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Q1rq0iPEEfGpTtr6ya0w_A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Q1rq0yPEEfGpTtr6ya0w_A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rq1CPEEfGpTtr6ya0w_A" x="-6" y="32" width="150" height="79"/>
                </children>
                <children xmi:id="_Q1rq1SPEEfGpTtr6ya0w_A" type="State" element="_PI71ACPEEfGpTtr6ya0w_A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Q1rq1iPEEfGpTtr6ya0w_A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rq1yPEEfGpTtr6ya0w_A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Q1rq2CPEEfGpTtr6ya0w_A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Q1rq2SPEEfGpTtr6ya0w_A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Q1rq2iPEEfGpTtr6ya0w_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rq2yPEEfGpTtr6ya0w_A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Q1rq3CPEEfGpTtr6ya0w_A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rq3SPEEfGpTtr6ya0w_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Q1rq3iPEEfGpTtr6ya0w_A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Q1rq3yPEEfGpTtr6ya0w_A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rq4CPEEfGpTtr6ya0w_A" x="214" y="37" width="129" height="79"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rq4SPEEfGpTtr6ya0w_A"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Q1rq4iPEEfGpTtr6ya0w_A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q1rq4yPEEfGpTtr6ya0w_A"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_urQowSPDEfGpTtr6ya0w_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_urQowiPDEfGpTtr6ya0w_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_urRP1yPDEfGpTtr6ya0w_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_urQowyPDEfGpTtr6ya0w_A" x="369" y="271" width="389" height="214"/>
        </children>
        <children xmi:id="_XV4WYCPGEfGpTtr6ya0w_A" type="State" element="_XV3IQCPGEfGpTtr6ya0w_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_XV4WZCPGEfGpTtr6ya0w_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XV4WZSPGEfGpTtr6ya0w_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XV4WZiPGEfGpTtr6ya0w_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XV4WZyPGEfGpTtr6ya0w_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XV49cCPGEfGpTtr6ya0w_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XV49cSPGEfGpTtr6ya0w_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XV49ciPGEfGpTtr6ya0w_A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XV4WYSPGEfGpTtr6ya0w_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XV4WYiPGEfGpTtr6ya0w_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XV49cyPGEfGpTtr6ya0w_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XV4WYyPGEfGpTtr6ya0w_A" x="485" y="1113" width="154" height="92"/>
        </children>
        <children xmi:id="_tRBLcCZMEfGpTtr6ya0w_A" type="State" element="_tRAkYCZMEfGpTtr6ya0w_A">
          <children xsi:type="notation:DecorationNode" xmi:id="_tRBLdCZMEfGpTtr6ya0w_A" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tRBLdSZMEfGpTtr6ya0w_A"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_tRBLdiZMEfGpTtr6ya0w_A"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tRBLdyZMEfGpTtr6ya0w_A" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_tRBLeCZMEfGpTtr6ya0w_A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tRBLeSZMEfGpTtr6ya0w_A"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tRBLeiZMEfGpTtr6ya0w_A" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tRBLcSZMEfGpTtr6ya0w_A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_tRBLciZMEfGpTtr6ya0w_A"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tRBLeyZMEfGpTtr6ya0w_A" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tRBLcyZMEfGpTtr6ya0w_A" x="369" y="676" width="505" height="133"/>
        </children>
        <children xmi:id="_qk6JgCZXEfGG16wVOl52OQ" type="State" element="_qk47YCZXEfGG16wVOl52OQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_qk6wkCZXEfGG16wVOl52OQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qk6wkSZXEfGG16wVOl52OQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qk6wkiZXEfGG16wVOl52OQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qk6wkyZXEfGG16wVOl52OQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qk6wlCZXEfGG16wVOl52OQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qk6wlSZXEfGG16wVOl52OQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qk7XoCZXEfGG16wVOl52OQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qk6JgSZXEfGG16wVOl52OQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qk6JgiZXEfGG16wVOl52OQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qk7XoSZXEfGG16wVOl52OQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qk6JgyZXEfGG16wVOl52OQ" x="831" y="1140" width="206" height="76"/>
        </children>
        <children xmi:id="_J-G5oCZbEfGG16wVOl52OQ" type="State" element="_J-GSkCZbEfGG16wVOl52OQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_J-HgsCZbEfGG16wVOl52OQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_J-HgsSZbEfGG16wVOl52OQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_J-HgsiZbEfGG16wVOl52OQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J-HgsyZbEfGG16wVOl52OQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_J-HgtCZbEfGG16wVOl52OQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J-HgtSZbEfGG16wVOl52OQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_J-IHwCZbEfGG16wVOl52OQ" type="StateFigureCompartment">
            <children xmi:id="_J-JV4CZbEfGG16wVOl52OQ" type="Region" element="_J-GSkyZbEfGG16wVOl52OQ">
              <children xsi:type="notation:DecorationNode" xmi:id="_J-J88CZbEfGG16wVOl52OQ" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_J-J88SZbEfGG16wVOl52OQ"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_J-J88iZbEfGG16wVOl52OQ"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_J-J88yZbEfGG16wVOl52OQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_ugsFwCZbEfGG16wVOl52OQ" type="Entry" element="_ugq3oCZbEfGG16wVOl52OQ">
                  <children xmi:id="_ugss0CZbEfGG16wVOl52OQ" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_ugss0yZbEfGG16wVOl52OQ" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_ugss1CZbEfGG16wVOl52OQ"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_ugss1SZbEfGG16wVOl52OQ"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ugss0SZbEfGG16wVOl52OQ" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ugss0iZbEfGG16wVOl52OQ"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ugsFwSZbEfGG16wVOl52OQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_ugsFwiZbEfGG16wVOl52OQ" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ugsFwyZbEfGG16wVOl52OQ" x="13" y="10"/>
                </children>
                <children xmi:id="_w1OUMCZbEfGG16wVOl52OQ" type="State" element="_w1NtICZbEfGG16wVOl52OQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_w1OUNCZbEfGG16wVOl52OQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_w1OUNSZbEfGG16wVOl52OQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_w1O7QCZbEfGG16wVOl52OQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_w1O7QSZbEfGG16wVOl52OQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_w1O7QiZbEfGG16wVOl52OQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_w1O7QyZbEfGG16wVOl52OQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_w1O7RCZbEfGG16wVOl52OQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_w1OUMSZbEfGG16wVOl52OQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_w1OUMiZbEfGG16wVOl52OQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_w1O7RSZbEfGG16wVOl52OQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_w1OUMyZbEfGG16wVOl52OQ" x="5" y="63" width="92" height="65"/>
                </children>
                <children xmi:id="_6CriQCZbEfGG16wVOl52OQ" type="State" element="_6Cn34CZbEfGG16wVOl52OQ">
                  <children xsi:type="notation:DecorationNode" xmi:id="_6CsJUCZbEfGG16wVOl52OQ" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_6CsJUSZbEfGG16wVOl52OQ"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_6CsJUiZbEfGG16wVOl52OQ"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_6CsJUyZbEfGG16wVOl52OQ" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_6CsJVCZbEfGG16wVOl52OQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6CsJVSZbEfGG16wVOl52OQ"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_6CsJViZbEfGG16wVOl52OQ" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_6CriQSZbEfGG16wVOl52OQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_6CriQiZbEfGG16wVOl52OQ"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6CsJVyZbEfGG16wVOl52OQ" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6CriQyZbEfGG16wVOl52OQ" x="208" y="64"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J-J89CZbEfGG16wVOl52OQ"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_J-JV4SZbEfGG16wVOl52OQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J-JV4iZbEfGG16wVOl52OQ"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_J-G5oSZbEfGG16wVOl52OQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_J-G5oiZbEfGG16wVOl52OQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_J-IHwSZbEfGG16wVOl52OQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J-G5oyZbEfGG16wVOl52OQ" x="814" y="826" width="338" height="246"/>
        </children>
        <children xmi:id="_Zy-R0CZhEfGG16wVOl52OQ" type="Entry" element="_Zy9DsCZhEfGG16wVOl52OQ">
          <children xmi:id="_Zy-44CZhEfGG16wVOl52OQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_Zy-44yZhEfGG16wVOl52OQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Zy-45CZhEfGG16wVOl52OQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_Zy-45SZhEfGG16wVOl52OQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Zy-44SZhEfGG16wVOl52OQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Zy-44iZhEfGG16wVOl52OQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Zy-R0SZhEfGG16wVOl52OQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_Zy-R0iZhEfGG16wVOl52OQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Zy-R0yZhEfGG16wVOl52OQ" x="500" y="62"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g8lIURwcEeq4Lc5XsD6Vnw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_g8isERwcEeq4Lc5XsD6Vnw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g8lvYBwcEeq4Lc5XsD6Vnw" x="225" y="315" width="1176" height="1256"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_g8oLpBwcEeq4Lc5XsD6Vnw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_g8oLphwcEeq4Lc5XsD6Vnw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g8oLpxwcEeq4Lc5XsD6Vnw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g8oLqBwcEeq4Lc5XsD6Vnw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_g8oysBwcEeq4Lc5XsD6Vnw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g8oysRwcEeq4Lc5XsD6Vnw"/>
      </children>
      <styles xsi:type="notation:StringValueStyle" xmi:id="_ZHI0oCZjEfGG16wVOl52OQ" name="featureToShow" stringValue="specification"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g8oyshwcEeq4Lc5XsD6Vnw" x="-75" y="15" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_g8gP0RwcEeq4Lc5XsD6Vnw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_g8gP0hwcEeq4Lc5XsD6Vnw"/>
    <edges xmi:id="_3nGpwCPAEfGpTtr6ya0w_A" type="Transition" element="_3nFboCPAEfGpTtr6ya0w_A" source="_tRBLcCZMEfGpTtr6ya0w_A" target="_jMHzUCPAEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_3nHQ0SPAEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3nHQ0iPAEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3nHQ0yPAEfGpTtr6ya0w_A" x="145" y="1"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3nGpwSPAEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3nHQ0CPAEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3nGpwiPAEfGpTtr6ya0w_A" points="[-3, 6, 65, -107]$[-3, 58, 65, -55]$[-28, 58, 40, -55]$[-28, 112, 40, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3nJGACPAEfGpTtr6ya0w_A" id="(0.4576271186440678,0.9548872180451128)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3nJGASPAEfGpTtr6ya0w_A" id="(0.6928210678210678,0.012095747389865038)"/>
    </edges>
    <edges xmi:id="_14dPQCPDEfGpTtr6ya0w_A" type="Transition" element="_14cBICPDEfGpTtr6ya0w_A" source="_9Qz2gCO7EfGpTtr6ya0w_A" target="_urQowCPDEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_14dPRCPDEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_14dPRSPDEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_14dPRiPDEfGpTtr6ya0w_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_14dPQSPDEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_14dPQyPDEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_14dPQiPDEfGpTtr6ya0w_A" points="[-51, 72, 88, -117]$[-137, 152, 2, -37]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_14fEcCPDEfGpTtr6ya0w_A" id="(0.6776859504132231,0.19736842105263158)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_14fEcSPDEfGpTtr6ya0w_A" id="(0.0364341310408922,0.14670008257452052)"/>
    </edges>
    <edges xmi:id="_4iEV0CPDEfGpTtr6ya0w_A" type="Transition" element="_4iDHsCPDEfGpTtr6ya0w_A" source="_9Qz2gCO7EfGpTtr6ya0w_A" target="_urQowCPDEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_4iEV1CPDEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4iEV1SPDEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4iEV1iPDEfGpTtr6ya0w_A" x="2" y="-81"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4iEV0SPDEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4iEV0yPDEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4iEV0iPDEfGpTtr6ya0w_A" points="[0, 0, -8, -162]$[13, 138, 5, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4iGLACPDEfGpTtr6ya0w_A" id="(1.0,0.35526315789473684)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4iGLASPDEfGpTtr6ya0w_A" id="(0.47924895446096655,0.09464521456420681)"/>
    </edges>
    <edges xmi:id="_MKH6gCPEEfGpTtr6ya0w_A" type="Transition" element="_MKHTcCPEEfGpTtr6ya0w_A" source="_Q1rqtSPEEfGpTtr6ya0w_A" target="_Q1rqySPEEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_MKH6hCPEEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MKH6hSPEEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MKIhkCPEEfGpTtr6ya0w_A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MKH6gSPEEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MKH6gyPEEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MKH6giPEEfGpTtr6ya0w_A" points="[0, 0, 15, -55]$[-13, 42, 2, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MKKWwCPEEfGpTtr6ya0w_A" id="(0.0,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MKKWwSPEEfGpTtr6ya0w_A" id="(0.11647509578544062,0.13721413721413722)"/>
    </edges>
    <edges xmi:id="_R88NsCPEEfGpTtr6ya0w_A" type="Transition" element="_R87moCPEEfGpTtr6ya0w_A" source="_Q1rqvyPEEfGpTtr6ya0w_A" target="_Q1rq1SPEEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_R880wyPEEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_R880xCPEEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_R880xSPEEfGpTtr6ya0w_A" x="-7" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_R880wCPEEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_R880wiPEEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_R880wSPEEfGpTtr6ya0w_A" points="[-6, 18, 4, -50]$[-6, 55, 4, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_R8-C4CPEEfGpTtr6ya0w_A" id="(0.8,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_R8-p8CPEEfGpTtr6ya0w_A" id="(0.25615449915110355,0.13626126126126126)"/>
    </edges>
    <edges xmi:id="_MdshUCPFEfGpTtr6ya0w_A" type="Transition" element="_Mdr6QCPFEfGpTtr6ya0w_A" source="_urQowCPDEfGpTtr6ya0w_A" target="_tRBLcCZMEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_MdshVCPFEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MdshVSPFEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MdshViPFEfGpTtr6ya0w_A" x="-1" y="-35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MdshUSPFEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MdshUyPFEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MdshUiPFEfGpTtr6ya0w_A" points="[-1, 0, 62, -77]$[-1, 58, 62, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MduWgCPFEfGpTtr6ya0w_A" id="(0.4046702665441177,1.5167464114832536)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MduWgSPFEfGpTtr6ya0w_A" id="(0.01904761904761905,0.5094339622641509)"/>
    </edges>
    <edges xmi:id="_e3wo4CPFEfGpTtr6ya0w_A" type="Transition" element="_e3wB0CPFEfGpTtr6ya0w_A" source="_Q1rqySPEEfGpTtr6ya0w_A" target="_Q1rq1SPEEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_e3xP8CPFEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_e3xP8SPFEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_e3xP8iPFEfGpTtr6ya0w_A" x="-8" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_e3wo4SPFEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_e3wo4yPFEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_e3wo4iPFEfGpTtr6ya0w_A" points="[102, 24, -87, -2]$[177, 24, -12, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_e3yeECPFEfGpTtr6ya0w_A" id="(0.2976585781183482,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_e3zFICPFEfGpTtr6ya0w_A" id="(0.09794142614601019,0.28490990990990994)"/>
    </edges>
    <edges xmi:id="_fyt1QCPFEfGpTtr6ya0w_A" type="Transition" element="_fysnICPFEfGpTtr6ya0w_A" source="_Q1rq1SPEEfGpTtr6ya0w_A" target="_Q1rqySPEEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_fyt1RCPFEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fyt1RSPFEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fyt1RiPFEfGpTtr6ya0w_A" x="10" y="-14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fyt1QSPFEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fyt1QyPFEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fyt1QiPFEfGpTtr6ya0w_A" points="[0, 1, 157, -9]$[-144, 1, 13, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fyvqcCPFEfGpTtr6ya0w_A" id="(0.0,0.43355855855855857)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fyvqcSPFEfGpTtr6ya0w_A" id="(0.44001702852277563,0.5987525987525988)"/>
    </edges>
    <edges xmi:id="_OVod4CPGEfGpTtr6ya0w_A" type="Transition" element="_OVn20CPGEfGpTtr6ya0w_A" source="_J-G5oCZbEfGG16wVOl52OQ" target="_9Qz2gCO7EfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_OVod5CPGEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_OVod5SPGEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_OVod5iPGEfGpTtr6ya0w_A" x="-371" y="61"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_OVod4SPGEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_OVod4yPGEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_OVod4iPGEfGpTtr6ya0w_A" points="[-25, -53, 296, 647]$[-316, -728, 5, -28]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OVqTECPGEfGpTtr6ya0w_A" id="(0.5029585798816568,0.024390243902439025)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_OVqTESPGEfGpTtr6ya0w_A" id="(0.9421487603305785,0.40789473684210525)"/>
    </edges>
    <edges xmi:id="_yrh44CPGEfGpTtr6ya0w_A" type="Transition" element="_yrhR0CPGEfGpTtr6ya0w_A" source="_jMHzUCPAEfGpTtr6ya0w_A" target="_XV4WYCPGEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_yrh45CPGEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yrh45SPGEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yrif8CPGEfGpTtr6ya0w_A" x="-5" y="84"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yrh44SPGEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yrh44yPGEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yrh44iPGEfGpTtr6ya0w_A" points="[-131, 28, -217, -40]$[-131, 97, -217, 29]$[15, 97, -71, 29]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yrjuECPGEfGpTtr6ya0w_A" id="(0.326271186440678,0.9532710280373832)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pH-RcCZXEfGG16wVOl52OQ" id="(0.47772828507795095,0.4923664122137405)"/>
    </edges>
    <edges xmi:id="_8aU5cCPGEfGpTtr6ya0w_A" type="Transition" element="_8aTEQCPGEfGpTtr6ya0w_A" source="_jMHzUCPAEfGpTtr6ya0w_A" target="_J-G5oCZbEfGG16wVOl52OQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_8aU5dCPGEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8aU5dSPGEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8aU5diPGEfGpTtr6ya0w_A" x="1" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8aU5cSPGEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8aU5cyPGEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8aU5ciPGEfGpTtr6ya0w_A" points="[0, 0, -221, 118]$[214, 0, -7, 118]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8aWHkCPGEfGpTtr6ya0w_A" id="(1.0,0.7264705882352942)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8aWuoCPGEfGpTtr6ya0w_A" id="(0.023668639053254437,0.16666666666666666)"/>
    </edges>
    <edges xmi:id="_AWJJkCZKEfGpTtr6ya0w_A" type="Transition" element="_AWIigCZKEfGpTtr6ya0w_A" source="_XV4WYCPGEfGpTtr6ya0w_A" target="_9Qz2gCO7EfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_AWJJlCZKEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AWJJlSZKEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AWJwoCZKEfGpTtr6ya0w_A" x="-76" y="54"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AWJJkSZKEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AWJJkyZKEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AWJJkiZKEfGpTtr6ya0w_A" points="[-143, -11, 31, 967]$[-458, -11, -284, 967]$[-458, -16, -284, 962]$[-463, -16, -289, 962]$[-463, -985, -289, -7]$[-174, -985, 0, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AWK-wCZKEfGpTtr6ya0w_A" id="(0.9554565701559019,0.649274389732405)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QqW-8CZKEfGpTtr6ya0w_A" id="(0.008264462809917356,0.7763157894736842)"/>
    </edges>
    <edges xmi:id="_HNA6wCZKEfGpTtr6ya0w_A" type="Transition" element="_HM_soCZKEfGpTtr6ya0w_A" source="_jMHzUCPAEfGpTtr6ya0w_A" target="_9Qz2gCO7EfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_HNA6xCZKEfGpTtr6ya0w_A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HNA6xSZKEfGpTtr6ya0w_A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HNA6xiZKEfGpTtr6ya0w_A" x="-5" y="60"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_HNA6wSZKEfGpTtr6ya0w_A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_HNA6wyZKEfGpTtr6ya0w_A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_HNA6wiZKEfGpTtr6ya0w_A" points="[-100, -27, -87, 735]$[-241, -27, -228, 735]$[-241, -761, -228, 1]$[-15, -761, -2, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HNCv8CZKEfGpTtr6ya0w_A" id="(0.4329004329004329,0.46568627450980393)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_RazkcCZKEfGpTtr6ya0w_A" id="(0.01652892561983471,0.11842105263157894)"/>
    </edges>
    <edges xmi:id="_tq8GUCZXEfGG16wVOl52OQ" type="Transition" element="_tq7fQCZXEfGG16wVOl52OQ" source="_XV4WYCPGEfGpTtr6ya0w_A" target="_qk6JgCZXEfGG16wVOl52OQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tq8tYCZXEfGG16wVOl52OQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tq8tYSZXEfGG16wVOl52OQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tq8tYiZXEfGG16wVOl52OQ" x="1" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tq8GUSZXEfGG16wVOl52OQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tq8GUyZXEfGG16wVOl52OQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tq8GUiZXEfGG16wVOl52OQ" points="[0, 12, -209, -1]$[203, 12, -6, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tq97gCZXEfGG16wVOl52OQ" id="(0.9554565701559019,0.5951681905880379)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tq97gSZXEfGG16wVOl52OQ" id="(0.03354550775534094,0.5263157894736842)"/>
    </edges>
    <edges xmi:id="_2L6B0CZXEfGG16wVOl52OQ" type="Transition" element="_2L4zsCZXEfGG16wVOl52OQ" source="_qk6JgCZXEfGG16wVOl52OQ" target="_jMHzUCPAEfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_2L6o4CZXEfGG16wVOl52OQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2L6o4SZXEfGG16wVOl52OQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2L6o4iZXEfGG16wVOl52OQ" x="-25" y="6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2L6B0SZXEfGG16wVOl52OQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2L6B0yZXEfGG16wVOl52OQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2L6B0iZXEfGG16wVOl52OQ" points="[-111, -31, 319, 137]$[-111, -61, 319, 107]$[-411, -61, 19, 107]$[-411, -160, 19, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2L73ACZXEfGG16wVOl52OQ" id="(1.0,0.4473684210526316)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2L73ASZXEfGG16wVOl52OQ" id="(0.5466101694915254,0.9252336448598131)"/>
    </edges>
    <edges xmi:id="_167pwCZbEfGG16wVOl52OQ" type="Transition" element="_166boCZbEfGG16wVOl52OQ" source="_ugsFwCZbEfGG16wVOl52OQ" target="_w1OUMCZbEfGG16wVOl52OQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_168Q0CZbEfGG16wVOl52OQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_168Q0SZbEfGG16wVOl52OQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_168Q0iZbEfGG16wVOl52OQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_167pwSZbEfGG16wVOl52OQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_167pwyZbEfGG16wVOl52OQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_167pwiZbEfGG16wVOl52OQ" points="[1, -2, 2, -44]$[0, 42, 1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_169e8CZbEfGG16wVOl52OQ" id="(0.8,0.7333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_169e8SZbEfGG16wVOl52OQ" id="(0.17391304347826086,0.0)"/>
    </edges>
    <edges xmi:id="_B2-lACZcEfGG16wVOl52OQ" type="Transition" element="_B2998CZcEfGG16wVOl52OQ" source="_6CriQCZbEfGG16wVOl52OQ" target="_w1OUMCZbEfGG16wVOl52OQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_B2-lBCZcEfGG16wVOl52OQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_B2-lBSZcEfGG16wVOl52OQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_B2-lBiZcEfGG16wVOl52OQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_B2-lASZcEfGG16wVOl52OQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_B2-lAyZcEfGG16wVOl52OQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_B2-lAiZcEfGG16wVOl52OQ" points="[0, 1, 89, 3]$[-86, 0, 3, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_B3AaMCZcEfGG16wVOl52OQ" id="(0.0,0.7301587301587301)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_B3AaMSZcEfGG16wVOl52OQ" id="(0.9891304347826086,0.7846153846153846)"/>
    </edges>
    <edges xmi:id="_GidcsSZcEfGG16wVOl52OQ" type="Transition" element="_GidcsCZcEfGG16wVOl52OQ" source="_w1OUMCZbEfGG16wVOl52OQ" target="_6CriQCZbEfGG16wVOl52OQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_GidctSZcEfGG16wVOl52OQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GidctiZcEfGG16wVOl52OQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GidctyZcEfGG16wVOl52OQ" x="8" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GidcsiZcEfGG16wVOl52OQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GidctCZcEfGG16wVOl52OQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GidcsyZcEfGG16wVOl52OQ" points="[5, -20, -121, -20]$[126, 2, 0, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Gieq0CZcEfGG16wVOl52OQ" id="(0.8913043478260869,0.3384615384615385)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Gieq0SZcEfGG16wVOl52OQ" id="(0.0,0.3333333333333333)"/>
    </edges>
    <edges xmi:id="_axiy4CZhEfGG16wVOl52OQ" type="Transition" element="_axiL0CZhEfGG16wVOl52OQ" source="_Zy-R0CZhEfGG16wVOl52OQ" target="_9Qz2gCO7EfGpTtr6ya0w_A">
      <children xsi:type="notation:DecorationNode" xmi:id="_axiy5CZhEfGG16wVOl52OQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_axiy5SZhEfGG16wVOl52OQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_axiy5iZhEfGG16wVOl52OQ" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_axiy4SZhEfGG16wVOl52OQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_axiy4yZhEfGG16wVOl52OQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_axiy4iZhEfGG16wVOl52OQ" points="[-5, 8, 47, -83]$[-5, 69, 47, -22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_axkoECZhEfGG16wVOl52OQ" id="(1.0,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_axlPICZhEfGG16wVOl52OQ" id="(0.08264462809917356,0.3157894736842105)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
